.cursorWrap {
  display: none;
}

@media (pointer: fine) {
  // the outer wrap
  .cursorWrap {
    position: fixed;
    display: grid;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 214748364;
    overflow: visible;

    > * {
      grid-column: 1;
      grid-row: 1;
    }
  }

  // the moving part
  .cursor {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
