.header {
  position: relative;
}

.logo_wrap {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.logo_link {
  cursor: none;
}

.navigation_area {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 1rem auto;
}
