.wrapper {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  position: relative;
}

.main {
  z-index: 2;
  height: 100%;
  width: auto;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
