.anchor {
  cursor: pointer;
  z-index: 3000000;
  padding: 1rem;
  transform-style: preserve-3d;
  text-decoration: none;
  display: block;

  @media screen and (prefers-reduced-motion: no-preference) {
    transition: transform 200ms ease-in-out, filter 300ms ease-in-out;
  }
  &:hover,
  &:focus {
    svg {
      filter: saturate(30);
    }
  }

  @media screen and (width < 900) {
    bottom: 10%;
  }
}
