/* podkova-regular - latin */
@font-face {
    font-family: 'Podkova';
    font-style: normal;
    font-weight: 400;
    src: url('./static/podkova-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./static/podkova-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./static/podkova-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./static/podkova-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('./static/podkova-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./static/podkova-v17-latin-regular.svg#Podkova') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Podkova';
    font-style: normal;
    font-weight: bold;
    src: url('./static/Podkova-Bold.ttf');
    src: local(''),
    url('./static/Podkova-Bold.ttf?') format('truetype')
}

@font-face {
    font-family: 'Podkova';
    font-style: normal;
    font-weight: 800;
    src: url('./static/Podkova-ExtraBold.ttf');
    src: local(''),
    url('./static/Podkova-ExtraBold.ttf?') format('truetype')
}

/*noinspection ALL*/
@font-face {
    font-family: 'Podkova Variable';
    font-weight: 100 900; /* valid for variable font */
    font-style: oblique 0deg 10deg;
    font-display: swap;
    src: url('./Podkova-VariableFont_wght.ttf') format('truetype');
}
